:root {
  --primary-bg-color: #008000;
  --primary-bg-collor-hover: #46a049;
}
*, 
*:before, 
*:afer {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0; 

}

main {
  flex: 1;
  padding: 0% 20px;
}

footer {
  position:sticky;
   bottom: 0;
   width: 100%;
   background-color: var(--primary-bg-color);
   color: #ffffff;
   text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover, 
.topnav a:focus {
  background-color: #dddddd;
  color: #000000;
}

.topnav a.active {
  background-color: var(--primary-bg-color);
  color: #ffffff;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555555;
  color: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover,
.topnav .login-container button:focus {
  background-color: var(--primary-bg-collor-hover);
}

.btn {
  display: inline-block;
  width: 100%;
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  text-decoration: none; /* Remove underline from links */
  font-size: 18px; /* Increase font size */
  text-align: center; /* Center the text */
  border-radius: 4px; /* Add rounded corners */
}

.btn-new {background-color: var(--primary-bg-color);}
.btn-new:hover, .btn-new:focus {background-color: var(--primary-bg-collor-hover);}

.btn-edit {background-color: #ff9900;}
.btn-edit:hover, .btn-edit:focus {background: #ffa928;}

.btn-delete {background-color: #da190b;}
.btn-delete:hover, .btn-delete:focus {background: #f44336;}

.btn-cancel {background-color: #555555;}
.btn-cancel:hover, .btn-cancel:focus {background-color: #777777;}

.btn-submit {background-color: var(--primary-bg-color);}
.btn-submit:hover, .btn-submit:focus {background-color: var(--primary-bg-collor-hover);}

.btn-contact {background-color: #000;}
.btn-contact:hover, btn-contact:focus {background-color: #555;}

#searchInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  width: 100%;
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, 
#myTable tr:hover,
#myTable tr:focus-within {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

form {
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 20px;
}

/* Style inputs */
input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  box-sizing: border-box;
  resize: none; /* Disable resizing */
}

input[readonly] {
    cursor: not-allowed;       /* Cambia el puntero del ratón */
    outline: none;             /* Quita el borde azul al hacer clic */
    border: none;              /* Elimina el borde */
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.alert {
  padding: 20px;
  border-radius: 4px;
  background-color: #f6a8a3; /* Red */
  color: #6f0700;
  margin-bottom: 15px;
  border: 1px solid #6f0700;  
}

#deleteForm {
  display: inline;
  padding:0;
  margin:0;
}

.column {
  float: left;
  max-width: 40%;
  height: 300px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #cccccc;  
  }
  .column {
    width: 100%;
    display: block;
  }
}